# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.cache

# Distribution / packaging
build/
dist/
*.egg-info/
